
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

*{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #C46D5E;
    color: #253D5E;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(https://unsplash.com/photos/cozy-and-modern-living-space-with-bohemian-decor-zZUvDl5Ez7w) no-repeat center / cover;
}


